<app-header></app-header>
<div
class="banner-bedroom d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center"
>
<div>
  <h1 class="text-capitalize text-yellow text-slanted display-4">
    Dream Decor
  </h1>
  <h1 class="text-capitalize font-weight-bold display-4">
    Bedroom Design
  </h1>
</div>
</div>


<section class="products py-5">
    <div class="container">
        <div class="row">
      <!-- single product -->
      <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom1.webp" class="img-fluid" alt="product"/>
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
           >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">Mango Themed L-Shaped Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2"><i class="fa fa-inr"></i>200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
       <!-- single product -->
       <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom2.webp" class="img-fluid" alt="product" />
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
         >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">Sky Blue Straight Modular Kitchen</h6>
        
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
      <!-- single product -->
      <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom3.webp" class="img-fluid" alt="product"/>
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
          >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2" >Summer Soothe Straight Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
      <!-- single product -->
      <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom4.webp" class="img-fluid" alt="product"/>
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
          >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2" >Citrus Mood L-Shaped Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
      <!-- single product -->
      <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom5.webp" class="img-fluid" alt="product" />
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
           >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">Dark Envy U-Shaped Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
      <!-- single product -->
      <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom6.webp" class="img-fluid" alt="product" />
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
           >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">Dark L-Shaped Black and Red Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
       <!-- single product -->
       <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom7.webp" class="img-fluid" alt="product" />
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
           >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2" >Nature Bliss Straight Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
       <!-- single product -->
       <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom8.webp" class="img-fluid" alt="product"/>
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
          >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2" >Passion Flower L-Shaped Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
       <!-- single product -->
       <div class="mx-auto col-md-6 col-lg-4">
        <div class="featured-container m-2">
          <img src="../assets/img/img-products/bedroom9.webp" class="img-fluid" alt="product" />
          <span class="featured-search-icon" data-toggle="modal" data-target="#productModal"
          >
            <i class="fas fa-search"></i>
          </span>
          <a href="#" class="featured-store-link text-captilaze">add to cart</a>
        </div>
        <h6 class="text-capitalize text-center my-2">Red Velvet L-Shaped Modular Kitchen</h6>
        <h6 class="text-center">
          <span class="text-muted old-price mx-2">$200</span>
          <span>$100</span>
        </h6>
      </div>
      <!-- end single product -->
     
      </div>
      </div>
</section>



