<section class="quotes pb-5 my-5" id="quotes">
    <div class="container">
      <!-- section title -->
      <div class="row mb-5">
        <div class="col-12 text-uppercase text-center">
          <h1 class="font-weight-bold align-self-center mx-1">our customer</h1>
          <div class="title-underline my-3 bg-secondary">
            <div class="title-underline__center"></div>
          </div>
        </div>
      </div>
      <!-- end of section title -->
      <div class="row">
        <!-- single card -->
        <div class="col-10 mx-auto my-2 col-md-6 col-lg-4">
          <div class="card">
            <img src="../assets/img/img-products/bedroom3.webp" alt="car" class="card-img-top">
            <!-- card body -->
            <div class="card-body text-center customer-card-body">
              <img src="../assets/img/company-logos/Author.jpg" class="rounded-circle customer-img" alt="customer img">
              <div class="card-title">
                <h5 class="customer-name text-capitalize">Rahul Saxena</h5>
              </div>
              <h6 class="customer-job text-capitalize">customer job</h6>
              <p class="customer-quote text-left mx-auto">Our dream home was designed as beautifully as we pictured it - that’s what’s unique about the Dream Decor experience.
              </p>
              <span class="customer-icon">
                <i class="fas fa-quote-left"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of single card -->
        <!-- single card -->
        <div class="col-10 mx-auto my-2 col-md-6 col-lg-4">
          <div class="card">
            <img src="../assets/img/img-products/bedroom7.webp" alt="car" class="card-img-top">
            <!-- card body -->
            <div class="card-body text-center customer-card-body">
              <img src="../assets/img/company-logos/Author.jpg" class="rounded-circle customer-img" alt="customer img">
              <div class="card-title">
                <h5 class="customer-name text-capitalize">Mohit Bisht</h5>
              </div>
              <h6 class="customer-job text-capitalize">customer job</h6>
              <p class="customer-quote text-left mx-auto">Dream Decor Expert made intelligent use of the available space to bring our dream home interiors to life.
              </p>
              <span class="customer-icon">
                <i class="fas fa-quote-left"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of single card -->
        <!-- single card -->
        <div class="col-10 mx-auto my-2 col-md-6 col-lg-4">
          <div class="card">
            <img src="../assets/img/img-products/bedroom6.webp" alt="car" class="card-img-top">
            <!-- card body -->
            <div class="card-body text-center customer-card-body">
              <img src="../assets/img/company-logos/Author.jpg" class="rounded-circle customer-img" alt="customer img">
              <div class="card-title">
                <h5 class="customer-name text-capitalize">Rohit mehra</h5>
              </div>
              <h6 class="customer-job text-capitalize">customer job</h6>
              <p class="customer-quote text-left mx-auto">Dream Decor Design Expert made intelligent use of the available space to bring our dream home interiors to life.
              </p>
              <span class="customer-icon">
                <i class="fas fa-quote-left"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of single card -->
      </div>
    </div>
  </section>

  <!--  contact us form -->
   <!-- contact section -->
   <section id="contact" class="py-5" style="background-color: rgb(236, 236, 236);">
    <div class="container">
      <!--section-title -->
      <div class="row">
        <div class="col-12 text-uppercase text-center">
          <h1 class="font-weight-bold align-self-center mx-1">contact us</h1>
          <div class="title-underline my-3 bg-secondary">
            <div class="title-underline__center"></div>
          </div>
          <p>Talk to our design expert and get your designs</p>
        </div>

      </div>
      <!-- end of section-title -->
      <div class="row">
        <div class="col-md-6 my-3">
          <div class="card card-body bg-secondary">
            <!-- title -->
            <div class="card-title text-center text-white">
              <h2 class="text-capitalize">Meet a designer online</h2>
              <p>new user sign in</p>
            </div>
            <!-- end of title -->
            <form>
              <!-- simple form -->
              <div class="form-group mt-3">
                <input type="text" class="form-control form-control-lg" id="name" placeholder="name">
              </div>
              <!-- email -->
              <div class="form-group mt-3">
                <input type="email" class="form-control" id="email" placeholder="email">
              </div>
              <!-- phone -->
              <div class="form-group mt-3">
                <input type="tel" class="form-control" placeholder="phone" id="phone">
              </div>
              <!-- input group -->
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">username</span>
                </div>
                <input type="text" class="form-control" id="group-username">
              </div>
              <!-- font-awesome -->
              <div class="input-group my-3">
                <!-- prepend -->
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <!-- end prepend -->
                <input type="text" class="form-control" id="group-username-1" placeholder="username">
                <!-- append -->
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary">submit</button>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-dark btn-block text-uppercase">Sign up here</button>
            </form>
          </div>
        </div>
        <!-- google maps -->
        <div class="col-md-6 my-3">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380510.6841309331!2d-88.01284431879517!3d41.83390249486842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1531020729332"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of contact section -->