<app-header></app-header>
<section class="about">
    <div class="row ">
        <div class="container-fluid">
            <div class="col-10 mx-auto">
                   <div
                        class="banner-products d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center"
                     >
                        <div>
                        <h1 class="text-capitalize text-yellow text-slanted display-4">
                            Dream decor
                        </h1>
                        <h1 class="text-capitalize font-weight-bold display-4">
                            About Us
                        </h1>
                        </div>
                    </div>

                    <div class="col text-center section-title mb-3 my-5 py-5" style="background-color: rgb(235, 235, 235);" >
                        <h2 class="text-uppercase ">Who we are?</h2>
                        <div class="title-underline my-3 bg-secondary">
                          <div class="title-underline__center"></div>
                        </div>
                        <div class="row py-5 ">
                            <div class="col-lg-7 col-10 mx-auto mt-3">
                                <img src="../assets/img/project-img/livingRoom.jpeg" class="img-fluid" alt="">

                            </div>
                            <div class="col-lg-5 col-10 mx-auto mt-3">
                                <div>
                                    <h1 class="text-capitalize text-yellow text-slanted display-4">
                                       About Company
                                    </h1>
                                    
                                    <p class="text-muted text-justify">
                                        A high-grade solution with a competitive budget plan is our forte. Our business has actually provided countless assistance with engineers, developers, and home builders to our clients by offering building and construction, renovation products, and workforce at cost-effective price. Our marvellous background has actually satisfied the demands of greater than a thousand homes till now.
                                        We carry 20 years of experience in home restoration, renovation and remodelling solutions. We suggest and make plans for your dream kitchen, bathroom, interior/exterior of your house, office, plant renovation or setting up any structure.
                                    </p>
                                </div>
                                   
                            </div>

                        </div>
                        
                    </div>
                      


            </div>

        </div>

    </div>


</section>