<section id="gallery" class="gallery py-5">
    <div class="container">
      <!-- section title -->
      <div class="row">
        <div class="col text-center section-title mb-3">
          <h3 class="text-green text-slant text-capitalize">
            Our latest work
          </h3>
          <h1 class="text-uppercase ">our Projects</h1>
          <div class="title-underline my-3 bg-secondary">
            <div class="title-underline__center"></div>
          </div>
          
        </div>
      </div>
      <!-- end of section title -->
      <div class="row">
        <!-- single column -->
        <div class="col-10 col-lg-6 mx-auto my-3">
          <div class="gallery-img-container">
            <img
              src="../assets/img/project-img/livingRoom2.jpeg"
              class="img-fluid gallery-img"
              alt="gallery img"
            />
            <a href="#" class="text-capitalize gallery-info p-2">room</a>
            <span class="gallery-icon"> <i class="fas fa-plus"></i> </span>
          </div>
        </div>
        <!-- single column -->
        <div
          class="col-10 col-lg-6 mx-auto my-3 d-flex flex-column justify-content-between"
        >
          <!-- first row -->
          <div class="row">
            <!-- single column -->
            <div class=" col-lg-6  my-3 my-lg-0">
              <div class="gallery-img-container">
                <img
                  src="../assets/img/project-img/bedroom2.jpeg"
                  class="img-fluid gallery-img"
                  alt="gallery img"
                />
                <a href="#" class="text-capitalize gallery-info p-2">room</a>
                <span class="gallery-icon">
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </div>
            <!-- single column -->
            <!-- single column -->
            <div class=" col-lg-6  my-3 my-lg-0">
              <div class="gallery-img-container">
                <img
                  src="../assets/img/project-img/bedroom.jpeg"
                  class="img-fluid gallery-img"
                  alt="gallery img"
                />
                <a href="#" class="text-capitalize gallery-info p-2">room</a>
                <span class="gallery-icon">
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </div>
            <!-- single column -->
          </div>
          <!-- end of first row -->
          <!-- second row -->
          <div class="row">
            <!-- single column -->
            <div class=" col-lg-6  my-3 my-lg-0">
              <div class="gallery-img-container">
                <img
                  src="../assets/img/project-img/kitchen.jpeg"
                  class="img-fluid gallery-img"
                  alt="gallery img"
                />
                <a href="#" class="text-capitalize gallery-info p-2">room</a>
                <span class="gallery-icon">
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </div>
            <!-- single column -->
            <!-- single column -->
            <div class=" col-lg-6  my-3 my-lg-0">
              <div class="gallery-img-container">
                <img
                  src="../assets/img/project-img/livingRoom.jpeg"
                  class="img-fluid gallery-img"
                  alt="gallery img"
                />
                <a href="#" class="text-capitalize gallery-info p-2">room</a>
                <span class="gallery-icon">
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </div>
            <!-- single column -->
          </div>
          <!-- end of second row -->
        </div>
      </div>
    </div>
  </section>
  <!-- end of gallery -->