 <!--Background header image-->
 <div class="banner d-flex align-items-center pl-3 pl-lg-5">
  <div>
    <h1 class="text-capitalize text-slanted mb-0 text-white">Let us bring your ideas to life!</h1>
    <h1 class="text-uppercas font-weight-bold text-white">Best Interior Designer in Delhi and Noida</h1>
    <a href="products.html" class="btn btn-danger">Book Free Online Consultation</a>
  </div>
</div>



<section class="services py-5 text-center">
    <div class="container">
      <div class="row">
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
          <span class="service-icon">
            <i class="fas fa-medal"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">Quality</h5>
          <p class="text-muted text-capitalize">
            Mega Interiors gives a thoughtful approach to design and sharp attention to detail, quality, and finishing.
          </p>
        </div>
        <!-- end of single service -->
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
          <span class="service-icon">
            <i class="fas fa-users"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">Experience</h5>
          <p class="text-muted text-capitalize">
            With Mega Interiors you can rest assured that you are in good hands as we have several years of designing experience.
          </p>
        </div>
        <!-- end of single service -->
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
          <span class="service-icon">
            <i class="far fa-calendar"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">45-day delivery</h5>
          <p class="text-muted text-capitalize">
            Get beautiful interiors for your new home in just 45 days. That’s our delivery guarantee.
          </p>
        </div>
        <!-- end of single service -->
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 my-3">
            <span class="service-icon">
                <i class="fas fa-check"></i>
            </span>
            <h5 class="font-weight-bold text-uppercase">HASSLE FREE</h5>
            <p class="text-muted text-capitalize">
                We handle your project from start to finish and keep you updated. No need to coordinate with different teams and vendors.
            </p>
          </div>
          <!-- end of single service -->
      </div>
    </div>
  </section>
  <!-- categories -->
  <section class="home-categories py-5">
    <div class="container">
      <div class="row">
        <!-- category title -->
        <div class="col-10 mx-auto col-md-6 col-lg-3 align-self-center">
          <h5 class="text-uppercase">Design categories</h5>
          <p class="text-muted">
            Here are some services we provided to customer.
          </p>
          <a
            href="#"
            class="text-weight-bold text-capitalize categories-link"
          >
            view all categories
          </a>
          <div class="categories-underline"></div>
        </div>
        <!-- main -->
        <div class="col-10 mx-auto col-md-6 col-lg-9 my-3">
          <div class="row">
            <!-- single category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img
                  src="../assets/img/cagetogoryImg/kitchen-category.jpeg"
                  class="img-fluid category-img"
                  alt="category img "
                />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">kitchen</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- end of  single category -->
            <!-- single category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img
                  src="../assets/img/cagetogoryImg/bedroom-category.jpg"
                  class="img-fluid category-img"
                  alt="category img "
                />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">bedroom</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- end of  single category -->
            <!-- single category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img
                  src="../assets/img/cagetogoryImg/livingroom-category.jpeg"
                  class="img-fluid category-img"
                  alt="category img "
                />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">living room</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- end of  single category -->
            <!-- single category -->
            <div class="col-md-6 col-lg-3 my-3">
              <div class="category-container">
                <img
                  src="../assets/img/cagetogoryImg/patio-category.jpeg"
                  class="img-fluid category-img"
                  alt="category img "
                />
                <a href="products.html" class="category-link">
                  <h6 class="text-uppercase mb-0">patio</h6>
                  <p class="mb-0 text-yellow">20 items</p>
                </a>
              </div>
            </div>
            <!-- end of  single category -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end categories -->


